<ion-header>
  <ion-toolbar>
    <ion-title>Report Arostegui</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <p>
          Books borrowed the most for each library sorted by name of the book and filtered by amount of pages > 200.
        </p>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let library of libraries">
      <ion-card-header>
        <ion-card-title>{{library.name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item *ngFor="let book of library.books">
          {{book.book.name}}, Pages: {{book.book.amountPages}} - Quantity: {{book.quantity}}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
