<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
    <ion-title>Borrow</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let roomBook of books;">
      <ion-row>
        <ion-col>
          <ion-card-header>
            <ion-card-title>{{roomBook.book.name}}</ion-card-title>
            <ion-card-subtitle>Pages: {{roomBook.book.amountPages}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Quantity: {{roomBook.quantity}}
          </ion-card-content>
        </ion-col>
        <ion-col style="display: flex" class="ion-justify-content-center ion-align-items-center ion-float-end">
          <ion-button [disabled]="roomBook.quantity === 0" (click)="borrow(roomBook)">borrow</ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
</ion-content>
